@font-face {
  font-family: BLKND;
  src: url(../fonts/BLKND-SANS.otf);
}

* {
    margin: 0px;
    padding: 0px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .crm {
    font-family: BLKND;
    color: #000;
    font-size: 80px;
    font-weight: bold;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inter;
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 0px;
  }
  
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inter;
    color: #000;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    margin-top: 0px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 40px;
    margin: auto;
    gap: 20px;
    padding: 5px;
  }
  
  .input {
    font-family: inter;
    font-weight: 800;
    padding: 5px;
    height: 150px;
    width: 400px;
    margin-top: 36px;
    font-size: 30px;
    border: 3px solid var(--onyx-0, #000);
    background: var(--alabaster-100, #fff);
    box-shadow: 2px 2px 0px 0px #000;
  }
  
  ::placeholder {
    color: black;
  }
  
  .sign {
    width: 220px;
    height: 60px;
    padding: 8px;
    margin: auto;
    margin-top: 20px;
    font-size: 26px;
    font-weight: 800;
    border: 3px solid var(--onyx-0, #000);
    background: #fff;
    font-family: inter;
    box-shadow: 5px 5px 0px 0px #000;
    transition: 0.2s ease-out;
    cursor: pointer;
  }
  
  .sign:hover {
    transform: scale(90%);
    box-shadow: 0px 0px 0px 0px #000;
    background-color: #d2d3ff;
  }
  
  .sign:active {
    transform: scale(90%);
    box-shadow: 0px 0px 0px 0px #000;
    background-color: #190482;
    color: #c2d9ff;
  }
  