@font-face {
  font-family: BLKND;
  src: url(../fonts/BLKND-SANS.otf);
}
header {
  background-color: #c2d9ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  border-bottom: 5px solid #190482;
  height: 50px;
  width: auto;
}

.categories {
  display: flex;
  gap: 140px;
}
.category {
  font-family: inter;
  font-size: 28px;
  margin: auto;
  cursor: pointer;
  font-weight: 800;
}

.bruh {
  display: inline-block;
  position: relative;
  color: #190482;
}
.bruh::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  padding-bottom: 0.08rem;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #190482;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.bruh:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: #d8ff40;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-right: 5px solid #190482;
  padding: 2px;
  height: 50px;
}

.logo img {
  height: 72px;
  width: 72px;
}

.heading {
  font-size: 32px;
  margin: 0 0 0px;
  font-family: BLKND;
  font-weight: 800;
  color: #190482;
margin-right: 10px;
}

.profile {
  margin-left: auto;
  margin-right: 10px;
  align-self: center;
  margin-top: 4.4px;
}

.pfp {
  height: 40px;
  border-radius: 100px;
  /* padding: 5px; */
  border: 5px solid #c5f210;
}
