@font-face {
  font-family: BLKND;
  src: url(../fonts/BLKND-SANS.otf);
}
* {
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: #c2d9ff;
  position: sticky;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
}

table,
th,
td {
  border-bottom: 2px solid #190482;
  border-top: 2px solid #190482;
  color: #190482;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

th,
td {
  padding: 15px;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

th {
  background-color: #ffffff;
  color: #190482;
}

tr:nth-child(even) {
  background-color: rgb(240, 248, 255);
  color: #190482;
}

.createbtn {
  text-align: right;
}
.createbtn button {
  margin: 10px;
  margin-right: 20px;
  width: 171px;
  height: 48px;
  padding: 0 0px;
  font-family: inter;
  font-weight: 800;
  font-size: 20px;
  border: 2px solid #190482;
  border-radius: 1.295px;
  background: #8e8ffa;
  padding: 5px;
  cursor: pointer;
  transition: 0.12s ease-out;
  position: relative;
  box-shadow: 3px 3px 0px 0px #000;
}

.createbtn button:hover {
  background-color: #7752fe;
  transform: scale(95%);
}

.createbtn button:active {
  background-color: #190482;
  transform: scale(92%);
  box-shadow: 0px 0px 0px 0px #190482;
  color: #c2d9ff;
}
